/* Default nav styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none;
  padding: 20px;
}

.logo {
  width: 120px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Hide hamburger on large screens */
.hamburger {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* Small screen behavior */
@media screen and (max-width: 480px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none; /* Hide by default */
    position: absolute;
    top: 60px;
    right: 20px;
    flex-direction: column;
    background-color: #061f3e;
    padding: 15px;
    border-radius: 6px;
    width: 200px;
    z-index: 1000;
  }

  .nav-links.show {
    display: flex;
  }
}
